@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

h1{
    font-size: 38px;
    font-weight: 800;
    text-align:center;
    font-style: bold;
    color: #3B8E46;
    line-height: 45.6px;
}

h2{
    font-size: 30px;
    font-weight: 800;
    text-align:center;
    font-style: bold;
    color: #3B8E46;  
    line-height: 36px;
}

h3{
    font-size: 30px;
    font-weight: 700;
    text-align:center;
    color: #3B8E46;  
    line-height: 36px; 
}

p{
    font-size: 16px;
    font-weight: 400;
    color:#000000;
    line-height: 19.2px;
    text-align: center;
}




